section.widget-schedule-call {
  background: linear-gradient(180deg, rgba(197, 202, 254, 0.22) 0%, rgba(197, 202, 254, 0) 100%);
  padding-top: 129px;
  padding-bottom: 160px;

  .h2 {
    text-align: left;
    width: 350px;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
    z-index: 9;
    text-transform: capitalize;

    img {
      display: inline-block;
      margin-left: 10px;
      margin-top: -7px;
    }
  }

  .title-img-wrapper {
    width: 440px;
    max-width: 100%;
    position: relative;

    img {
      position: relative;
      z-index: 9;
      max-width: 100%;
    }
  }

  .title-img-wrapper:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 28px;
    left: 22px;
    background: url('../src/assets/svg/svg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 10px;
  }

  .widget-placeholder {
    width: 533px;
    max-width: 100%;
    max-height: 100%;
    height: 810px;
  }

  @media (max-width: 767.5px) {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 5vw;
    background: transparent;

    .h2 {
      width: 70%;
    }
    .title-img-wrapper {
      width: 100%;
    }
    .img-call {
      width: 9.744vw;
    }
    .img-photo {
      width: 100%;
    }

    .widget-placeholder {
      width: 100%;
      margin-top: 14.615vw;
    }
  }
}
