$alabaster: #f9faff;
$black: #000000;
$bluefont: #04163d;
$bodyblue: #505c84;
$blue: #0314ac;
$carnation-pink-2: #0314ac33;
$carnation-pink-3: #0314ac0d;
$gamboge: #ed9d12;
$link-water: #e2e4fe4c;
$orange: #f07d00;
$periwinkle: #c5cafe;
$resolution-blue: #0e3386;
$white: #ffffff;

$font-size-l: 18px;
$font-size-m: 16px;
$font-size-xl: 21px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;
$font-size-xxxxl: 48px;
$font-size-xxxxxl: 56px;

$font-family-poppins: 'Poppins', sans-serif;
