section.portfolio-page-head {
  min-height: 100vh;
  max-height: 100vh;
  background: url('../../../../assets/img/bg.svg') no-repeat right bottom, linear-gradient(180deg, #020c63 0%, #0314ac 100%);

  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}
.portfolio-page-head__content {
  width: 623px;
  color: #fff;
}
.portfolio-img-wrapper {
  width: 37vw;
  height: 80vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-right-radius: 10vw;
  img {
    object-fit: cover;
    height: 80vh;
    min-width: 100%;
  }
}
.portfolio-img-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0314AC 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .portfolio-page-head__content {
    width: 530px;
  }
}
@media (max-width: 992px) {
  .portfolio-page-head__content {
    width: 418px;
  }
}

@media (max-width: 767.5px) {
  .portfolio-img-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 88.205vw;
    height: 106.41vw;
    margin-top: 17.436vw;
    img {
      height: 106.41vw;
      width: 100%;
    }
  }
  section.portfolio-page-head {
    flex-direction: column;
    justify-content: flex-end;
    max-height: 300vw;
    align-items: flex-start;
    padding-top: 28.205vw;
  }
  .portfolio-page-head__content {
    width: 100%;
  }
}
