section.widget-our-leader {
  padding-top: 160px;
  padding-bottom: 160px;
  .h2 {
    margin-bottom: 80px;
  }
  .h3 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 25px;
  }
}
.leader-img {
  max-width: 100%;
  width: 440px;
  margin-top: 119px;
}
.leader-testimonials {
  background: linear-gradient(180deg, #020c63 0%, #0314ac 100%);
  border-radius: 20px;
  width: 100%;
  padding: 8px 94px 43px 31px;
  color: #fff;
  margin-bottom: 49px;
  img {
    display: block;
    margin-bottom: 14px;
    transform: translateX(-45px);
  }
}
.leader__sub-title {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .leader-testimonials {
    padding-right: 20px;
  }
}
@media (max-width: 992px) {
  section.widget-our-leader {
    padding-top: 25.641vw;
    padding-bottom: 25.641vw;
  }
  section.widget-our-leader .h2 {
    margin-bottom: 14.872vw;
  }
  .leader-img {
    margin-top: 0;
    width: 100%;
    margin-bottom: 25.128vw;
  }
  .leader-testimonials {
    margin-bottom: 23.333vw;
    padding-top: 0;
  }
  .leader-testimonials img {
    width: 16.41vw;
    transform: translateX(0) translateY(-5.385vw);
  }
}
