section.widget-insights {
  padding-top: 160px;

  .col-md-6 {
    margin-bottom: 48px;
  }

  .button-wrapper {
    margin-top: 32px;
  }

  .tabs {
    margin-top: 48px;
    margin-bottom: 82px;
    display: flex;
    justify-content: center;
  }

  .tab {
    margin-left: 32px;
    margin-right: 32px;
    font-size: 32px;
    font-weight: 500;
    color: $bodyblue;
    cursor: pointer;
    position: relative;
  }

  .tab.active:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: $bodyblue;
    border-radius: 10px;
  }

  .insight-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    min-height: 100%;
    height: 100%;
  }

  .video-img {
    width: 100%;
    height: 295px;
    object-fit: cover;
  }

  .insight-item__content {
    background: linear-gradient(180deg, rgba(197, 202, 254, 0.22) 0%, rgba(197, 202, 254, 0) 100%);
    border: 1px solid rgba(3, 20, 172, 0.2);
    padding: 17px 13px 20px 13px;
    height: calc(100% - 295px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .video-info {
    color: $bodyblue;
  }

  .video-img-wrapper {
    position: relative;
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  .video-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: #000;
      z-index: 1;
    }
    .video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      min-width: 750px;
      min-height: 500px;
      iframe {
        width: 100%;
        min-height: 490px;
        margin: auto;
      }
    }
  }
}

@media (max-width: 767.5px) {
  section.widget-insights {
    padding-top: 25.641vw;

    .tabs {
      margin-top: 8.205vw;
      margin-bottom: 17.692vw;
    }

    .tab {
      font-size: 5.128vw;
      margin-left: 4vw;
      margin-right: 4vw;
    }

    .tab.active:before,
    .tab:first-child:before {
      height: 0.769vw;
    }

    .video-img {
      height: 77.692vw;
    }

    .play-btn {
      width: 12.821vw;
      height: 12.821vw;
    }

    .insight-item__content {
      height: auto;
      padding: 4.359vw 3.333vw 9.231vw 3.333vw;
    }

    .h4 {
      font-size: 6.154vw;
    }

    .video-info {
      margin-top: 4.103vw;
    }

    .button-wrapper {
      margin-top: 2.051vw;
    }

    .col-md-6 {
      margin-bottom: 10.256vw;
    }

    .video-container .video {
      min-width: 100%;
    }
  }
}
