section.collection-of-investment {
  background: rgba(197, 202, 254, 0.2);
  padding-top: 129px;
  border-top-left-radius: 200px;

  .col-md-6 {
    margin-bottom: 49px;
  }

  .h2 {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .insight-item {
    background: #fff;
  }

  .title-32 {
    margin-bottom: 8px;
  }

  .location {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .investment-img-wrapper {
    position: relative;
  }
 
  .label-img {
    position: absolute;
    top: 24px;
    right: 19px;
    z-index: 11;
    color: #fff;
    padding: 11px 18px;
    border-radius: 10px;
    text-transform: capitalize;
  }

  .label-img-open {
    background: #e45e13;
  }

  .label-img-close {
    background: #04163d;
  }

  .collection-of-investment__content {
    padding: 41px 23px 41px 38px;
    background: #fff;
  }

  .item-params {
    color: #e45e13;
    margin-bottom: 29px;
  }
  .investment-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    min-height: 100%;
    height: 100%;
    .video-img {
      width: 100%;
      height: 295px;
      object-fit: cover;
    }
  }
}

@media (max-width: 767.5px) {
  section.collection-of-investment {
    padding-top: 0;
    background: transparent;

    .h2 {
      font-size: 8.205vw;
      margin-bottom: 14.359vw;
    }

    .title-32 {
      font-size: 6.154vw;
      margin-bottom: 4.103vw;
    }

    .collection-of-investment__content {
      padding: 6.154vw 0 0 0;
    }

    .col-md-6 {
      margin-bottom: 20.513vw;
    }

    .col-md-6:last-child {
      margin-bottom: 0;
    }

    .location {
      margin-bottom: 4.103vw;
    }
  }
}
