.contact-form {
  input {
    display: inline-block;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .error-message {
    color: red;
    padding: 8px;
  }
  .error-input {
    box-shadow: 0 0 2px 1px red;
  }
}
.contact-form {
  width: 732px;
  max-width: 100%;
  margin-top: 32px;
  .input {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgba(80, 92, 132, 0.7);
    border-radius: 10px;
  }
  .textarea {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgba(80, 92, 132, 0.7);
    border-radius: 10px;
    height: 125px;
    padding-top: 5px;
  }
}
.contact-form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.field-block {
  width: 48%;
}
.input {
  width: 100%;
  height: 50px;
}
.contact-form__row--textarea {
  .field-block {
    width: 100%;
  }
}
.textarea {
  width: 100%;
}
.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 39px;
}
.form-label {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.contact-form .input,
.contact-form .textarea {
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
}
.radio-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  div {
    display: flex;
    align-items: center;
  }
  img {
    display: block;
    margin-left: 5px;
  }
}
.radio-item {
  margin-left: 24px;
  color: $bodyblue;
  cursor: pointer;
  input {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
    cursor: pointer;
  }
}
.verify-row__content {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.capcha {
  min-width: 248px;
  height: 57px;
  background: rgba(197, 202, 254, 0.4);
  margin-right: 40px;
}
.verify-row__text {
  font-size: 14px;
  a {
    color: #e45e13;
  }
}
.submit-btn {
  border: none;
}

@media (max-width: 1440px) {
  .contact-page-head__img {
    width: 30vw;
  }
}
@media (max-width: 1160px) {
  .contact-page-head__img {
    display: none;
  }
  .contact-form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact-form__row {
    flex-direction: column;
    margin-bottom: 0;
    .field-block {
      width: 100%;
    }
  }
  .contact-form .input {
    height: 12.821vw;
    border-radius: 2.564vw;
  }
  .form-label {
    font-size: 3.59vw;
  }
  .contact-form__row .input {
    margin-bottom: 6.154vw;
    display: block;
  }
  section.contact-page-head {
    padding-top: 25.641vw;
  }
  .contact-form {
    margin-top: 8.205vw;
  }
  .radio-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .radio-col {
    margin-top: 4.103vw;
  }
  .radio-wrapper img {
    width: 3.846vw;
    height: 3.846vw;
    margin-left: 1.667vw;
  }
  .radio-item {
    margin-left: 6.154vw;
    input {
      width: 3.59vw;
      height: 3.59vw;
      margin-right: 2.051vw;
    }
  }
  .radio-item:first-child {
    margin-left: 0;
  }
  .contact-form .textarea {
    height: 32.051vw;
    border-radius: 2.564vw;
    margin-bottom: 6.154vw;
  }
  .verify-row__content {
    flex-direction: column;
  }
  .capcha {
    width: 63.59vw;
    height: 14.615vw;
    margin-bottom: 4.103vw;
  }
  .verify-row__text {
    font-size: 3.5vw;
  }
  .form-footer {
    margin-top: 8.205vw;
  }
}
