section.about-page-head {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;

  .h2 {
    text-align: left;
    padding-top: 8vw;
  }

  .h3 {
    margin-bottom: 24px;
  }

  .head-img-wrapper {
    width: 38.624vw;
    height: 80vh;
    border-radius: 100px 0px 0px 0px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      height: 80vh;
      width: auto;
      min-width: 100%;
      object-fit: cover;
    }
  }

  .head-img-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 20, 172, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.6;
  }

  .tag-list {
    //width: 447px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .tag {
    //background: rgba(197, 202, 254, 0.6);
    //border-radius: 60px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding-left: 25px;
    //padding-right: 25px;
    margin-bottom: 24px;
    margin-right: 24px;
    // text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }

  @media (max-width: 767.5px) {
    .head-img-wrapper {
      position: relative;
    }
    &.about-page-head {
      overflow: hidden;
      min-height: auto;
      max-height: 1000vw;
    }
    .head-img-wrapper {
      height: 97.179vw;
      width: 84.359vw;
      left: 12vw;
      top: 0;

      img {
        height: 98vw;
      }
    }
    .tag {
      font-size: 4.615vw;
      height: 9.487vw;
      //padding-left: 6.41vw;
      //padding-right: 6.41vw;
      margin-right: 4.2vw;
      margin-bottom: 4.2vw;
    }
    .tag-list {
      width: 100%;
    }
    .h2 {
      padding-top: 36.923vw;
    }
  }
}
