html,
body {
  font-family: $font-family-poppins;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: $font-size-m;
  color: $bluefont;
  font-weight: 400;
}
a,
a:hover {
  text-decoration: none;
}
p {
  color: $bodyblue;
  margin-bottom: 0;
}
.container {
  width: 1116px;
  margin-left: auto;
  margin-right: auto;
  max-width: 91.795vw;
  padding-left: 0;
  padding-right: 0;
}
.h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.button {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $orange;
  padding-left: 32px;
  padding-right: 32px;
  color: #fff;
  border-radius: 16px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}
.title-32 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}
.button:hover {
  color: #fff;
  background: #f07d00;
  box-shadow: 0px 4px 4px rgba(237, 99, 62, 0.4);
}
.button:focus {
  color: #fff;
  background: #e45e13;
  box-shadow: none;
}
.button--transparent-blue {
  background: transparent;
  color: $blue;
  border: 1px solid $blue;
}
.button--transparent-blue:hover {
  color: $blue;
  background: linear-gradient(180deg, rgba(197, 202, 254, 0.22) 0%, rgba(197, 202, 254, 0) 100%);
  box-shadow: none;
}
.button--transparent-blue:focus {
  background: #c5cafe;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.error-input {
  box-shadow: 0 0 2px 1px red;
}
button[disabled] {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}
.h1 {
  font-size: 72px;
  font-weight: 700;
}
.text-24 {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.title-18 {
  font-size: 18px;
  font-weight: 600;
}
.section-title {
  text-transform: capitalize;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width: 767.5px) {
  body {
    font-size: 4.103vw;
  }
  .h3 {
    font-size: 6.154vw;
    margin-bottom: 3.077vw;
  }
  .h2 {
    font-size: 8.205vw;
    text-align: left;
    margin-bottom: 2.821vw;
  }
  .button {
    height: 13.333vw;
    border-radius: 4.103vw;
    width: 100%;
  }
  .h1 {
    font-size: 10.256vw;
    margin-bottom: 6.154vw;
  }
  .text-24 {
    font-size: 4.615vw;
  }
  .head-img-wrapper {
    margin-top: 18.462vw;
  }
  .title-32 {
    font-size: 8.205vw;
    margin-bottom: 4.103vw;
  }
  .title-18 {
    font-size: 4.615vw;
  }
  .leader__sub-title {
    margin-bottom: 6.41vw;
  }
}
