.widget-connect-with-us {
  padding-top: 67px;
}
.widget-connect-with-us__wrapper {
  background: url('../../assets/img/cwus.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 93px;
  min-height: 269px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 99px;
  padding-right: 60px;
  color: #fff;
  .h2 {
    width: 591px;
    max-width: 100%;
    line-height: 140%;
    text-align: left;
  }
}
.widget-connect-with-us.blue {
  background: rgba(197, 202, 254, 0.2);
}
@media (max-width: 992px) {
  .widget-connect-with-us__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    .h2 {
      max-width: 75%;
      font-size: 42px;
    }
  }
}

@media (max-width: 767.5px) {
  .widget-connect-with-us__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 7.949vw;
    padding-right: 7.949vw;
    padding-top: 11.795vw;
    padding-bottom: 18.846vw;
    top: 20vw;
    .h2 {
      font-size: 10.256vw;
      max-width: 103%;
      width: 103%;
      line-height: 124%;
    }
    .button {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-top: 16.154vw;
    }
  }
  .widget-connect-with-us {
    padding-top: 5.641vw;
  }
}
